name: Upload Assets to github release and packages

on:
  push:
    tags:
    - 'v*'

jobs:
  build:
    name: Upload Release Asset
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - uses: actions/setup-java@v2.3.0
      with:
        distribution: 'adopt'
        java-version: '8'
    - name: Get the version
      id: get_version
      run: |
        REV_COUNT=`git rev-list --count HEAD`
        echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\/v/}
    - uses: burrunan/gradle-cache-action@v1
      with:
        gradle-version: 6.8.3
        arguments: build
      env:
        ORG_GRADLE_PROJECT_signingKey: ${{ secrets.GPG_SECRET_KEY }}
        ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.GPG_KEY_PASSPHARASE }}
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release v${{ steps.get_version.outputs.VERSION }}
        draft: false
        prerelease: false
    - name: Publish package to OSSRH
      uses: burrunan/gradle-cache-action@v1
      with:
        gradle-version: 6.8.3
        arguments: publishToSonatype
      env:
        ORG_GRADLE_PROJECT_signingKey: ${{ secrets.GPG_SECRET_KEY }}
        ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.GPG_KEY_PASSPHARASE }}
        SONATYPE_USER: ${{ secrets.SONATYPE_USER }}
        SONATYPE_PASS: ${{ secrets.SONATYPE_PASS }}
    - name: Upload Release Asset(zip)
      id: upload-release-lib-zip
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: build/distributions/eb4j-${{ steps.get_version.outputs.VERSION }}.zip
        asset_name: eb4j-${{ steps.get_version.outputs.VERSION }}.zip
        asset_content_type: application/zip
    - name: Upload Release Asset(tgz)
      id: upload-release-lib-tgz
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: build/distributions/eb4j-${{ steps.get_version.outputs.VERSION }}.tgz
        asset_name: eb4j-${{ steps.get_version.outputs.VERSION }}.tgz
        asset_content_type: application/gzip
    - name: Upload Release Asset(lib.jar)
      id: upload-release-asset-lib
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: build/libs/eb4j-${{ steps.get_version.outputs.VERSION }}.jar
        asset_name: eb4j-${{ steps.get_version.outputs.VERSION }}.jar
        asset_content_type: application/java-archive
    - name: Upload Release Asset(lib.jar.asc)
      id: upload-release-asset-lib-asc
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: build/libs/eb4j-${{ steps.get_version.outputs.VERSION }}.jar.asc
        asset_name: eb4j-${{ steps.get_version.outputs.VERSION }}.jar.asc
        asset_content_type: text/plain
    - name: Upload Release Asset(lib.sources.jar)
      id: upload-release-asset-source
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: build/libs/eb4j-${{ steps.get_version.outputs.VERSION }}-sources.jar
        asset_name: eb4j-${{ steps.get_version.outputs.VERSION }}-sources.jar
        asset_content_type: application/java-archive
    - name: Upload Release Asset(lib.sources.jar.asc)
      id: upload-release-asset-source-asc
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: build/libs/eb4j-${{ steps.get_version.outputs.VERSION }}-sources.jar.asc
        asset_name: eb4j-${{ steps.get_version.outputs.VERSION }}-sources.jar.asc
        asset_content_type: text/plain
    - name: Upload Release Asset(lib.javadoc.jar)
      id: upload-release-asset-javadoc
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: build/libs/eb4j-${{ steps.get_version.outputs.VERSION }}-javadoc.jar
        asset_name: eb4j-${{ steps.get_version.outputs.VERSION }}-javadoc.jar
        asset_content_type: application/java-archive
    - name: Upload Release Asset(lib.javadoc.jar.asc)
      id: upload-release-asset-javadoc-asc
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: build/libs/eb4j-${{ steps.get_version.outputs.VERSION }}-javadoc.jar.asc
        asset_name: eb4j-${{ steps.get_version.outputs.VERSION }}-javadoc.jar.asc
        asset_content_type: text/plain
